body {
  background-color: #ADADAD;
  font: 400 1em/1.38 Helvetica;
  color: rgb(50, 50, 50);
}

.container {
  float: left;
  background-color: #EBEBEB;
}

.embed-wrapper {
  float: left;
  overflow: hidden;
}

._button {
  border-style:solid;
  border-color:#bbb #888 #666 #aaa;
  border-width:1px 1.2px 1.2px 1px;
  display: block;
  float: left;
  height: 28px;
  margin-top: 12px;
  border-radius: 3px;
  background-color: rgb(222, 222, 222);
  font-size: 1em;
  font-weight: 400;
  line-height: 1.38;
  text-align: center;
  color: rgb(0, 0, 0);
  width: 30px;

}

._button:hover{
  border-color: #666 #aaa #bbb #888;
  border-width:1px 1.2px 1.2px 1px;
  color:#000;
}

._element {
  clear: both;
  width: 800px;
  height: 160px;
  /*background-color: rgb(199, 195, 101);*/
}

#topContainer {
  width: 800px;
  height: 50px;
  /*background-color: rgb(223, 135, 135);*/
}

#ingredientesContainer {
  position: relative;
  clear: both;
  z-index: 2;
  width: 500px;
  height: 290px;
  /*background-color: rgb(160, 210, 183);*/
}

#photoContainer {
  position: relative;
  z-index: 13;
  width: 300px;
  height: 290px;
  /*background-color: rgb(212, 236, 154);*/
}

#instructionsContainer {
  clear: both;
  width: 800px;
  height: 250px;
  font-size: 14px;  
  /*background-color: rgb(114, 117, 167);*/
}

#suggestionsContainer{
  height: 110px;
}

#recipeTitle {
  font-size: 24px; 
  line-height: 1.1; 
  width: 250px;
}

#recipeHeader {
  height: 30px;
  margin: 10px 0 0 10px;
  width: 480px;
  overflow: visible;
}

#ingredientesDiv {
  clear: both;
  font-size: 14px;
  height: 220px;
  margin: 8px 0 0 10px;
  overflow-y: scroll;
  width: 480px;
}

#recipePhoto {
  width: 270px;
  height: 270px;
  margin: 10px 0 0 10px;
}

#recipePhoto img{
  width: 100%;
  height: 100%;
}

#preparationDiv {
  width: 61.25%;
  height: 200px;
  margin: 10px 0 0 10px;
  overflow-y: scroll;
  line-height: 1.2; 
}

#preparationTitle {
  margin-top: 0px;
  width: 61.25%;
  height: 30px;
  margin: 10px 0 0 10px;
}

#preparationTitle ._button{
  margin-top: 0px;
}

#voiceFwdBtn{
  margin-right: 10px;
}

#dificultad {
  position: relative;
  float: right;
  margin-left: 10px;
  /*z-index: 8;
  width: 35.25%;
  height: 33px;
  margin: 10px 0 0 1.125%;*/
}

#duracion {
  position: relative;
  float: right;
  margin-top: 10px;
  /*clear: both;
  z-index: 9;
  width: 35.25%;
  height: 33px;
  margin: -215px 0 0 63.59961%;*/
}

#infoNutricional {
  position: relative;
  z-index: 6;
  width: 35.125%;
  height: 256px;
  margin-left: 10px;
  margin-top: -30px;
}

#volverBtn {
  margin-left: 10px;
  width: 100px;
  height: 35px;
  
}

#favoritosBtn {
  float: right;
  height: 35px;
  margin-right: 10px;
  width: 100px;
}

#voicePlayBtn,#voiceBckBtn,#voiceFwdBtn,#voiceStopBtn{
  float: right;
  /*margin-right: 10px;*/
}

/*#ingredientsTable{
  border: 1px solid black;
  border-collapse: collapse;
}*/

/*#ingredientsTable th{
  /*font-weight: normal;
  /*border: 1px solid black;
  border-collapse: collapse;
}*/

/*#ingredientsTable td{
  text-align: center;
  /*border: 1px solid black;
  border-collapse: collapse;
}*/

.imgIcon{
  max-width:100%;
  max-height:100%;
}

.overlay{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: #333333;
  /*Cross-browser opacity below*/
  -moz-opacity:.80;
  filter:alpha(opacity=80);
  opacity:.80;
  z-index: 10000000;
}

#videoBtn{
  width: 48px;
  height: 48px;
  
  background-image: url('../images/play.png');  
  z-index: 10000001;
  position: absolute;
  bottom: 35px;
  right: 45px;
  cursor: pointer;
}

.videolayer{
  display: none;
  width: 854px;
  height: 510px;
  padding:10px;
  background-color: rgba(0,0,0,0.8);;
  position: absolute;
  left: 159px;
  top: 98px;
  z-index: 10000010;
}

#vl_closeBtn{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-image: url('../images/close.png');
  cursor: pointer;
  z-index: 10000011;
}

#videoFrame{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  /*Cross-browser opacity below*/
  -moz-opacity:.80;
  filter:alpha(opacity=80);
  opacity:.80;
  z-index: 10000000;
}

/*#ingredientsTable .umCell{
  text-align: center;
}

#ingredientsTable .quantityCell{
  text-align: center;
}*/

.fluid-span-1 {
  width: 6.5%;
}

.fluid-span-2 {
  width: 15%;
}

.fluid-span-3 {
  width: 23.5%;
}

.fluid-span-4 {
  width: 32%;
}

.fluid-span-5 {
  width: 40.5%;
}

.fluid-span-6 {
  width: 49%;
}

.fluid-span-7 {
  width: 57.5%;
}

.fluid-span-8 {
  width: 66%;
}

.fluid-span-9 {
  width: 74.5%;
}

.fluid-span-10 {
  width: 83%;
}

.fluid-span-11 {
  width: 91.5%;
}

.fluid-span-12 {
  width: 100%;
}

.fluid-offset-1 {
  margin-left: 8.5%;
}

.fluid-offset-2 {
  margin-left: 17%;
}

.fluid-offset-3 {
  margin-left: 25.5%;
}

.fluid-offset-4 {
  margin-left: 34%;
}

.fluid-offset-5 {
  margin-left: 42.5%;
}

.fluid-offset-6 {
  margin-left: 51%;
}

.fluid-offset-7 {
  margin-left: 59.5%;
}

.fluid-offset-8 {
  margin-left: 68%;
}

.fluid-offset-9 {
  margin-left: 76.5%;
}

.fluid-offset-10 {
  margin-left: 85%;
}

.fluid-offset-11 {
  margin-left: 93.5%;
}

/*ingredientesTable styles*/

#ingredientsTable a:link {
  color: #666;
  font-weight: bold;
  text-decoration:none;
}
#ingredientsTable a:visited {
  color: #999999;
  font-weight:bold;
  text-decoration:none;
}
#ingredientsTable a:active,
#ingredientsTable a:hover {
  color: #bd5a35;
  text-decoration:underline;
}
#ingredientsTable {
  font-family:Arial, Helvetica, sans-serif;
  color:#666;
  font-size:12px;
  text-shadow: 1px 1px 0px #fff;
  background:#eaebec;
  margin:20px;
  border:#ccc 1px solid;

  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  border-radius:3px;

  -moz-box-shadow: 0 1px 2px #d1d1d1;
  -webkit-box-shadow: 0 1px 2px #d1d1d1;
  box-shadow: 0 1px 2px #d1d1d1;
}
#ingredientsTable th {
  padding:11px 15px 12px 15px;
  border-top:1px solid #fafafa;
  border-bottom:1px solid #e0e0e0;

  background: #ededed;
  background: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#ebebeb));
  background: -moz-linear-gradient(top,  #ededed,  #ebebeb);
}
#ingredientsTable th:first-child{
  text-align: left;
  padding-left:20px;
}
#ingredientsTable tr:first-child th:first-child{
  -moz-border-radius-topleft:3px;
  -webkit-border-top-left-radius:3px;
  border-top-left-radius:3px;
}
#ingredientsTable tr:first-child th:last-child{
  -moz-border-radius-topright:3px;
  -webkit-border-top-right-radius:3px;
  border-top-right-radius:3px;
}
#ingredientsTable tr{
  text-align: center;
  padding-left:20px;
}
#ingredientsTable tr td:first-child{
  text-align: left;
  padding-left:20px;
  border-left: 0;
}
#ingredientsTable tr td {
  padding:9px;
  border-top: 1px solid #ffffff;
  border-bottom:1px solid #e0e0e0;
  border-left: 1px solid #e0e0e0;
  
  background: #fafafa;
  background: -webkit-gradient(linear, left top, left bottom, from(#fbfbfb), to(#fafafa));
  background: -moz-linear-gradient(top,  #fbfbfb,  #fafafa);
}
#ingredientsTable tr.even td{
  background: #f6f6f6;
  background: -webkit-gradient(linear, left top, left bottom, from(#f8f8f8), to(#f6f6f6));
  background: -moz-linear-gradient(top,  #f8f8f8,  #f6f6f6);
}
#ingredientsTable tr:last-child td{
  border-bottom:0;
}
#ingredientsTable tr:last-child td:first-child{
  -moz-border-radius-bottomleft:3px;
  -webkit-border-bottom-left-radius:3px;
  border-bottom-left-radius:3px;
}
#ingredientsTable tr:last-child td:last-child{
  -moz-border-radius-bottomright:3px;
  -webkit-border-bottom-right-radius:3px;
  border-bottom-right-radius:3px;
}
#ingredientsTable tr:hover td{
  background: #f2f2f2;
  background: -webkit-gradient(linear, left top, left bottom, from(#f2f2f2), to(#f0f0f0));
  background: -moz-linear-gradient(top,  #f2f2f2,  #f0f0f0);  
}

#dificultad_icons{
  margin: 0px;
  padding: 0px;
}

#dificultad_icons li{
  float:left;
  height: 26px;
  width: 26px;  
  list-style-type: none;
  background-image: url('../images/diff.png');
}

/*Carrusel*/

/**{-moz-box-sizing:border-box;box-sizing:border-box;}*/
.blue{background:#C0C0C0;color:#fff;-moz-box-sizing:border-box;box-sizing:border-box;}
.blue h3{background:#fff;color:#3498db;font-size:36px;line-height:100px;margin:10px;padding:2%;position:relative;text-align:center;-moz-box-sizing:border-box;box-sizing:border-box;}

.center .slick-center h3{-moz-transform:scale(1.08);-ms-transform:scale(1.08);-o-transform:scale(1.08);-webkit-transform:scale(1.08);color:#e67e22;opacity:1;transform:scale(1.08);-moz-box-sizing:border-box;box-sizing:border-box;}
.center h3{opacity:0.8;transition:all 300ms ease;-moz-box-sizing:border-box;box-sizing:border-box;}
.slick-content{margin:auto;padding:1px;width:740px; height: 110px;-moz-box-sizing:border-box;box-sizing:border-box;} 
.slick-content:after,.buttons::after{clear:both;content:"";display:table;-moz-box-sizing:border-box;box-sizing:border-box;} 

.slick-slide .image{padding:10px;-moz-box-sizing:border-box;box-sizing:border-box;}
.slick-slide img{border:5px solid #FFF;display:block;width:100%;-moz-box-sizing:border-box;box-sizing:border-box;}
.slick-slide img.slick-loading{border:0;-moz-box-sizing:border-box;box-sizing:border-box; }
.slick-slider{margin:5px auto 5px;-moz-box-sizing:border-box;box-sizing:border-box;}

/*Información nutricional*/

body {
  font-size: 12px;
  line-height: 1.4;
}

p {
  margin: 0;
}

.performance-facts {
  border: 1px solid black;
 /* margin: 20px;*/
  float: left;
  width: 260px;
  padding: 5px;
  background-color: rgb(250,250,250);
}
.performance-facts table {
  border-collapse: collapse;
}

.performance-facts__title {
  font-weight: bold;
  font-size: 16px;
  margin: 0 0 0.25rem 0;
}

.performance-facts__header {
  border-bottom: 5px solid black;
  padding: 0px;
  margin: 0 0 0.5rem 0;
}
.performance-facts__header p {
  margin: 0;
}

.performance-facts__table, .performance-facts__table--small, .performance-facts__table--grid {
  width: 100%;
}
.performance-facts__table thead tr th, .performance-facts__table--small thead tr th, .performance-facts__table--grid thead tr th, .performance-facts__table thead tr td, .performance-facts__table--small thead tr td, .performance-facts__table--grid thead tr td {
  border: 0;
}
.performance-facts__table th, .performance-facts__table--small th, .performance-facts__table--grid th, .performance-facts__table td, .performance-facts__table--small td, .performance-facts__table--grid td {
  font-weight: normal;
  text-align: left;
  padding: 3px 0;
  border-top: 1px solid black;
  white-space: nowrap;
}
.performance-facts__table td:last-child, .performance-facts__table--small td:last-child, .performance-facts__table--grid td:last-child {
  text-align: right;
}
.performance-facts__table .blank-cell, .performance-facts__table--small .blank-cell, .performance-facts__table--grid .blank-cell {
  width: 1rem;
  border-top: 0;
}
.performance-facts__table .thick-row th, .performance-facts__table--small .thick-row th, .performance-facts__table--grid .thick-row th, .performance-facts__table .thick-row td, .performance-facts__table--small .thick-row td, .performance-facts__table--grid .thick-row td {
  border-top-width: 2px;
}

.performance-facts__table{
  font-size: 11px;  
}

.small-info {
  font-size: 10px;
}

.performance-facts__table--small {
  border-bottom: 1px solid #999;
  margin: 0 0 0.5rem 0;
}
.performance-facts__table--small thead tr {
  border-bottom: 1px solid black;
}
.performance-facts__table--small td:last-child {
  text-align: left;
}
.performance-facts__table--small th, .performance-facts__table--small td {
  border: 0;
  padding: 0;
}

.performance-facts__table--grid {
  margin: 0 0 0.5rem 0;
  font-size: 12px;
}
.performance-facts__table--grid td:last-child {
  text-align: left;
}
.performance-facts__table--grid td:last-child::before {
  content: "•";
  font-weight: bold;
  margin: 0 0.25rem 0 0;
}

.text-center {
  text-align: center;
}

.thick-end {
  border-bottom: 1px solid black;
}

.thin-end {
  border-bottom: 1px solid black;
}