body
{
	height:720px;
	/*padding: 20px 10px 20px 10px;*/
    margin:0;
	width:1280px;	
	color: rgb(58,58,58);
	/*font-family: LG Display-Regular;*/
	font-size: 14px;
	background-color: rgb(58,58,58);
  	/*font: 400 1em/1.38 Helvetica;  */
  	/*font-family: 'Raleway', sans-serif;*/
	font-family: 'Wellfleet', cursive;
}

#main-container
{
	width:1280px;
	height: 720px;
	background-color: white;
}

#mainTable{
	width:100%;
	height: 100%;
	table-layout: fixed;
        border-collapse: collapse;
        
}

#bloque-left
{
	height:680px;
	padding:0;
	width:220px;
	/* opcion 1 */
	background-color: rgb(255,248,232);
}

#menu-container
{
	/*background-color: gray;*/
	height:700px;
	width:100%;
}

#menu-container table 
{
	height:700px;
	width:100%;
}


#bloque-center
{
	width:800px;
	/* opcion 1 */
	/*background-color: rgb(65,198,205);*/
	/*background-color:#f2f2f2;*/
	background-image: url(images/fondoSombraCubiertos.png);
        background-size: cover;
}

#data-container
{
	
	height:700px;
	width:100%;
}

#data-container #search
{
	height:50px;
	margin:30px 50px 0 50px;
	position:absolute;
	width:50%;
}

#search h3
{
	width: 200px;
	margin-left: 20px;
	margin-top: 10px;
	font-size: 42px;
	color: white;

}

#bloque-right
{
	width:220px;
	/* opcion 1 */
	background-image: url("images/fondoDerecha.png");
        background-size: cover;
}

#sugerencias-container
{
	
	height:700px;
	width:100%;
	
}

/*Color de fondo de todos los bloques*/
.bloque{

	/*background-color:gray;*/

}

#search input[type="text"] {  
	background: url(../images/search.png) no-repeat 10px 6px white; 
	border: 0 none; 
	/*font: bold 16px Arial,Helvetica,Sans-serif; */
	font-weight: bold;
	font-size: 16px;
	color: rgb(58,58,58);
	width: 200px;
	padding: 6px 15px 6px 35px; 
	-webkit-border-radius: 20px; 
	-moz-border-radius: 20px;
	border-radius: 20px;
	/*text-shadow: 0 0px 0px rgba(0, 0, 0, 0.3);
	-webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
	-moz-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; 
	box-shadow: 0 1px 0 rgba(255, 255, 255, 0.1), 0 1px 3px rgba(0, 0, 0, 0.2) inset; */
	-webkit-transition: all 0.7s ease 0s; 
	-moz-transition: all 0.7s ease 0s; 
	-o-transition: all 0.7s ease 0s;
	transition: all 0.7s ease 0s; 
}

.result{

}

.detalleDiv
{
	width:150px;
	height:132px;
	/*border: 2px solid #3A3A3A;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;*/
	padding: 23px 10px 0px 10px;
}

.detalle-receta
{
	padding:15px;
	width:180px;
	height:150px;
	/*border: 2px solid #3A3A3A;*/
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	padding-right: 10px;
	/* opcion 1 */
	border: 4px solid rgb(0,131,149);
	background-color: rgb(255,248,232);
	font-weight: 600;
}

.detalle-receta div{
	/*background-color: #FAB586;*/
}




.submenu button
{
	/*background-color:cyan;*/
	width:120px;
	height:30px;
	margin:5px 15px 5px 15px;
}

.detalle-receta-seleccionada{ 
	border: 2px solid #F1F1F1;
	/*-webkit-box-shadow: #F1F1F1 0px 0px 6px 3px;*/
	cursor:pointer;
}

.detalle-receta .texto-detalle
{
	float:left;
	width:70px;
	height:70%;
	overflow:hidden;
	z-index:-1;
	font-size: 15px;
}

.detalle-receta .texto-detalle p
{
	align:justify;
	margin:0;
	

}

.detalle-receta .imagen-detalle
{
	float:left;
	margin-left:25px;
	z-index:-1;
}

.detalle-receta .imagen-top
{

	float:left;
	margin:10px px 0px 0px;
	background: url(../images/smooth-star.png) no-repeat 10px 6px;

}

h2{

	float:left;
	position: absolute;
	width: 40px;
	height: 40px;
	top: -5px;
	right: 0.8px;
	/*color: #5D5D58;*/
	/*text-shadow: 1px 1px 1px #84720A;*/

}

.resultado-recetas
{
	height:75%;
	width:95%;
	overflow:hidden;
	position:relative;
	top:120px;
	left:20px;

}
.resultado-recetas table
{
	border-spacing: 30px;

}

#fb_closeBtn{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-image: url('../images/close.png');
  cursor: pointer;
  z-index: 10000011;
}

#user_closeBtn{
  position: absolute;
  width: 30px;
  height: 30px;
  top: -15px;
  right: -15px;
  background-image: url('../images/close.png');
  cursor: pointer;
  z-index: 10000011;
}


#categorias-menu 
{
	top:140px;
	width:200px;
	position:relative;
	left:30px;
	float:left;
	display:none;
	padding-left:20px;
}



#sugerencias-container table
{
	padding-top:80px;
	border-spacing:20px 15px;
}

#sugerencias-container td
{
	text-align:center;
}

.submenu
{
	float:none;
	background-color: rgba(58,58,58,0.5);
	width:150px;
	height:120px;
	z-index:1;
	position: absolute;
	padding: 15px;
}

.detalle-sugeridas{
	top:102px;
	float:none;
	background-color: rgba(251,247,247,0.8);
	width:140px;
	height: 60px;
	z-index: 999;
	position: absolute;
	padding: 5px;
	margin-left: 10px;
	overflow: hidden;
}

.detalle-sugeridas p{
 
	color: rgb(58,58,58);
	font-weight: bold;
	font-size: 16px;
}


#search-advanced
{
	border: 1px solid white;
	top:140px;
	position:relative;
	margin:auto auto 50px auto;
	width:90%;
	display:none;
}

#search-advanced td
{
	text-align:left;
	padding-top:10px;
        width:100px
	
}

#search-advanced td input[type='text']
{
	width:40px;
}

input[type='button']
{
	width:100px;
	height:40px;
	text-align:center;
	vertical-align:middle;
	-webkit-border-radius: 10px; 
	-moz-border-radius: 10px;
	border-radius: 10px;
	border: 0 none; 
}

/*input[type='button']:hover
{
	background:orange;
}*/

td .menu-option
{

    /*color:khaki;*/
    font-size: 16px;
    font-weight:bold;
    
}


#usuarioLogin:hover
{
	cursor: pointer;
}

t{
    
}
#usuarioLogin
{   
    border: 1px solid black;
    border-radius: 60px;
    font-size: 16px;
    background-color: yellowgreen;
}

#iniSesion{
    font-size: 20px;
    font-weight: bold;
    
    color:black;
}

#usuarioLogout{
    
    background-color: yellowgreen;
    font-size: 15px;
    border-radius: 0px 0px 10px 10px;
}

#usuarioLogout:hover
{
	cursor: pointer;
}


/*td .menu-option:hover
{
	cursor: pointer;
    background-color:orange;
    
}*/

a
{
    /*color: aliceblue;*/
    vertical-align: 10px;
    
}

.visible-block{
	display: block;
}

.invisible-block{
	display: none;
}

/* general navigation */

.selected{
	border:4px solid blue;	
	border-radius: 5px;
}

.keynav{
	border:4px solid red;	
	border-radius: 5px;
}

.keynav2{
	border:5px solid rgb(253,155,22) !important;		
}

/* menu lateral izquierdo */

#menu-container .menu-option{
	border-radius: 5px;
	border: 4px solid transparent;
}

#menu-container .menu-option.selected{
	border:4px solid transparent;
	color: rgb(140,189,1);
	border-radius: 5px;
	//color: white;
}

#menu-container .menu-option:hover{
	border: 4px solid rgb(253,155,22);
	cursor:pointer;
	border-radius: 5px;
}

#menu-container .menu-option.keynav{
	border:4px solid rgb(253,155,22);	
	border-radius: 5px;
}

#Usuario {
	border: 4px solid transparent;	
}

#Usuario.keynav{
	border: 4px solid rgb(253,155,22);
	border-radius: 5px;
}

#Usuario:hover{
	border: 4px solid rgb(253,155,22);
	border-radius: 5px;
	cursor: pointer;
}

/* detalle receta */

.detalle-receta.keynav {
	border: 4px solid rgb(253,155,22);
	border-radius: 10px;
}

.detalle-receta:hover {
	border: 4px solid rgb(253,155,22);
	border-radius: 10px;
	cursor: pointer;
}

#search #keyboard{
	background-color: #F1F1F1;
	border: 4px solid transparent;
}

#search #keyboard.keynav{
	border: 4px solid rgb(253,155,22);
	border-radius: 20px;
}

#search #keyboard:hover{
	border: 4px solid rgb(253,155,22);
	border-radius: 20px;
}

#recipePhoto{
	border: 4px solid transparent;
	border-radius: 0px;
}

#recipePhoto.keynav {
	border: 4px solid rgb(253,155,22);
	border-radius: 0px;
}

#instruccionesTab, #ingredientesTab{
	border: 4px solid transparent;
	border-radius: 0px;
}

#instruccionesTab.keynav, #ingredientesTab.keynav {
	border: 4px solid rgb(253,155,22);
	border-radius: 0px;
}

#instruccionesTab:hover, #ingredientesTab:hover {
	border: 4px solid rgb(253,155,22);
	border-radius: 0px;
}

.scroll-btn{
	border: 4px solid transparent;
}

.scroll-btn.keynav{
	border: 4px solid rgb(253,155,22);
}

.scroll-btn:hover{
	border: 4px solid rgb(253,155,22);
	cursor: pointer;
}

._button{
	border: 4px solid transparent;
}

._button.keynav{
	border: 4px solid rgb(253,155,22);
}

._button:hover{
	border: 4px solid rgb(253,155,22) !important;	
	cursor: pointer !important;
}

.slick-next.keynav, .slick-prev.keynav{
	border: 2px solid rgb(253,155,22) !important;
}

.slick-slide:hover {
	cursor: pointer;
}

#favoritosBtn{
	border: 2px solid transparent;	
}

#favoritosBtn.keynav{
	border: 2px solid rgb(253,155,22);	
}

#favoritosBtn:hover{
	border: 2px solid rgb(253,155,22);	
	cursor: pointer;
}

#ratingUsuario{
	border: 2px solid transparent;	
	border-radius: 0px;
}

#ratingUsuario.keynav{
	border: 2px solid rgb(253,155,22);	
	border-radius: 0px;
}

#listaCategoriasBusquedaAvanzada li:hover{
	border: 2px solid #F1F1F1;
	/*-webkit-box-shadow: #F1F1F1 0px 0px 6px 3px;*/
	cursor:pointer;
	border-radius: 5px;
}

#listaCategoriasBusquedaAvanzada li.keynav{
	border: 2px solid #F1F1F1;
	/*-webkit-box-shadow: #F1F1F1 0px 0px 6px 3px;*/
	cursor:pointer;
	border-radius: 5px;
}

#listaCategoriasBusquedaAvanzada li{
	border:2px solid transparent;	
	border-radius: 5px;
}

#listaCategoriasBusquedaAvanzada li.selected{
	background-color: rgba(240,240,240,0.5);
	border-radius: 5px;
}

#puntuacionPromedio
{
    position:absolute;
    top:20px;
    left:15px;
    font-weight: bold;
    color: white;
	font-size: 14px;
}

#pointIcon
{
	max-width: 50px;
	max-height: 50px;
	margin-top: 2px;
}

#numVotos{
   	margin-left: 5px;
	font-size: 14px;
	margin-top: -5px;     
}

#txtPuntuacion
{
    position:absolute;
    top: 5px;
	left: 80px;
	font-size: 14px;
}


#data-container table{
	width: 100%;
}

#data-container #search{
	background-color: rgba(58,58,58,0.5);
	height: 80px;
	width: 710px;
	margin-top: 30px;
}

#searchTd {
	position: absolute;
	margin-top: 25px;
	margin-left: -280px;
}
